* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; /* Uses system default font */
}

body {
    background: #4a4a4a; /* Dark gray background */
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.search-wrapper {
    background: #fff;
    width: 400px;
    border-radius: 5px;
    position: relative; 
}

.search-input {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 18px;
}

.search-input .icon {
    height: 55px;
    width: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    color: #555;
    cursor: pointer;
    background: #fff;
    border-radius: 0 5px 5px 0;
}

/* The Suggestions Box */
.result-box {
    max-height: 280px;
    overflow-y: auto; /* Scroll bar if list is long */
}

.result-box ul {
    border-top: 1px solid #ccc;
    padding: 5px 0;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.result-box ul li {
    list-style: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

/* Hover effect for the lines */
.result-box ul li:hover {
    background: #e9e9e9;
}